* {
box-sizing: border-box;
}

body {
    background-color:bisque;
    font-size: 1.5rem;
    padding:0 3%;
    margin:2%;
}

header {
    display:flex;
    justify-content: space-between;
    margin-bottom:5%;
}

.intro{
    text-align: center;
}