* {
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    padding:1% 3%;
}

header {
    display:flex;
    justify-content: space-between;
    margin-bottom:5%;
}

.high-scores, .time{
    color:#0d6efd;
}
.intro{
    text-align: center;
}
.intro h1{
    font-weight: 700;
    line-height: 2;
}

main{
    margin:auto;
    width:65%;
}
.quiz, .quiz-wrapper{
    margin-left: 50px;
}
.quiz .question{
    font-size: 2.4rem;
    margin: 32px;
}

.quiz .option{
    font-size: 1.6rem;
    /* background-color:#0d6efd; */
    color:white;
    padding:8px 20px;
    margin:10px 20px 0 0 ;
    border-radius: 15px;
    width: 50%;
    list-style: none;
    text-align: left;
}

.answer-border{
    font-size: 3rem;
    color:#0558c5;
    border-top:#0558c5 solid 2px;
    margin-left:32px;
}

.result {
    font-size:1.6rem;
    margin: 32px;
}
.result h2{
    font-size: 3rem;
}

.result label, .result input, .result button{
    margin-right: 10px;
    vertical-align:middle;
}